@mixin fonts1 {

    font-size: 16px;
}

@mixin font32{
    font-size: 32px;

}
@mixin font60{
    font-size: 60px;

}
@mixin font40{
    font-size: 40px;

}
@mixin font25{
    font-size: 25px;

}
@mixin font50{
    font-size: 50px;

}